* {
  cursor: none;
}

body {
  width: 100%;
  height: auto;
  overflow-x: hidden !important;
  background: #fefee3;
  font-size: 18px;
  font-weight: 400;
  font-family: "Abril Fatface", cursive;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  width: 100%;
  height: auto;
  margin: 20px 0px;
  padding: 20px 40px;
  position: relative;
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

.cursor {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: var(--width);
  height: var(--height);
  transform: translate(calc(var(--x) - var(--width) / 2), calc(var(--y) - var(--height) / 2));
  transition-duration: 125ms;
  transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  transition-property: width, height, transform;
  transition: 150ms width cubic-bezier(0.39, 0.575, 0.565, 1), 150ms height cubic-bezier(0.39, 0.575, 0.565, 1), 300ms transform cubic-bezier(0.39, 0.575, 0.565, 1);
  z-index: 1000;
  pointer-events: none;
  will-change: transform;
}
.cursor::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1100;
  border-radius: var(--radius);
  border: 2px solid #f2cc8f;
  opacity: var(--scale);
  transform: scale(var(--scale));
  transition: 150ms opacity cubic-bezier(0.39, 0.575, 0.565, 1), 150ms transform cubic-bezier(0.39, 0.575, 0.565, 1), 150ms border-radius cubic-bezier(0.39, 0.575, 0.565, 1);
}

@media (pointer: fine) {
  .cursor {
    display: block;
  }
}
html:not(html:hover) .cursor::after {
  opacity: 0;
  transform: scale(0);
}

.topbar {
  width: 100%;
  padding: 20px 40px;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topbar:hover .topbar__name {
  opacity: 1;
}
.topbar .topbar__name {
  height: 20px;
  position: relative;
  overflow: hidden;
  opacity: 0;
  text-transform: uppercase;
  color: #fefee3;
  transition: opacity 0.3s 0.2s;
}
.topbar .topbar__name span {
  display: block;
  white-space: nowrap;
  transition: transform 0.3s;
}
.topbar .topbar__name span .letter {
  display: inline-block;
}
.topbar .topbar__name > span:nth-child(2) {
  -webkit-text-stroke: 1px #fefee3;
  -webkit-text-fill-color: transparent;
}
.topbar .topbar__name:hover span:nth-child(1) {
  transform: translateY(-100%);
}
.topbar .topbar__name:hover span:nth-child(2) {
  transform: translateY(-100%);
}
.topbar .topbar__toggle {
  width: 55px;
  height: 55px;
  z-index: 1100;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.topbar .topbar__toggle:hover span:nth-child(1)::before {
  width: 25%;
}
.topbar .topbar__toggle:hover span:nth-child(2)::before {
  width: 50%;
  transition: width 0.3s 0.1s;
}
.topbar .topbar__toggle:hover span:nth-child(3)::before {
  width: 75%;
  transition: width 0.3s 0.2s;
}
.topbar .topbar__toggle span {
  width: 60%;
  height: 2px;
  z-index: 5;
  display: block;
  content: "";
  background: #fefee3;
  position: absolute;
  transition: background 0.3s;
}
.topbar .topbar__toggle span::before {
  width: 0px;
  height: 100%;
  z-index: 6;
  content: "";
  position: absolute;
  left: 0px;
  background: #77bfa3;
  transition: width 0.3s;
}
.topbar .topbar__toggle span:nth-child(1) {
  transform: translateY(-10px);
}
.topbar .topbar__toggle span:nth-child(3) {
  transform: translateY(10px);
}

header {
  width: 100%;
  height: 100vh;
  z-index: 1;
  position: relative;
  background: #52b69a;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-transform: uppercase;
}
header img {
  width: 600px;
  height: auto;
  z-index: 1;
  position: absolute;
  clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
}
header .header__plant_name,
header .header__plant_s_name,
header .header__plant_class {
  z-index: 2;
  position: relative;
}
header .header__plant_name span,
header .header__plant_s_name span,
header .header__plant_class span {
  z-index: 3;
  top: 0;
  left: 0;
  position: absolute;
  white-space: nowrap;
  clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
}
header .header__plant_name {
  transform: translateX(-60px);
  font-size: 180px;
  -webkit-text-stroke: 2px #fefee3;
  -webkit-text-fill-color: transparent;
}
header .header__plant_name span {
  -webkit-text-fill-color: #fefee3;
  -webkit-text-stroke: 2px #fefee3;
}
header .header__plant_s_name {
  transform: translateX(180px);
  font-size: 80px;
  color: #f4e285;
}
header .header__plant_s_name span {
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  -webkit-text-fill-color: #dd9787;
  -webkit-text-stroke: 2px #dd9787;
}
header .header__plant_class {
  transform: translateX(-140px);
  font-size: 60px;
  font-family: "Cinzel", serif;
  font-weight: 900;
  -webkit-text-stroke: 1px #f4e285;
  -webkit-text-fill-color: transparent;
}
header .header__corner {
  width: 100%;
  height: 40px;
  bottom: 0;
  left: 0;
  position: absolute;
  background: #fefee3;
}
header .header__corner::after {
  width: 40%;
  height: 100%;
  bottom: 0;
  right: 0;
  position: absolute;
  content: "";
  background: #52b69a;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 4% 100%);
}
header .header__corner::before {
  width: 35%;
  height: 60%;
  z-index: 3;
  bottom: 25%;
  right: 0;
  position: absolute;
  content: "";
  background: #77bfa3;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 3% 100%);
}

.identity__fiche {
  padding: 40px 40px;
  background: #52b69a;
}
.identity__fiche::before {
  width: 40%;
  height: 40px;
  top: 0;
  right: 0;
  content: "";
  position: absolute;
  background: #fefee3;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 4% 100%);
}
.identity__fiche::after {
  width: 40%;
  height: 40px;
  bottom: 0;
  left: 0;
  content: "";
  position: absolute;
  background: #fefee3;
  clip-path: polygon(0 0, 96% 0, 100% 100%, 0% 100%);
}

/*# sourceMappingURL=main.css.map */
