.carousel {
    height: 100%;
    position: relative;
    overflow: hidden;

    &:hover .carousel__next, .carousel__prev {
        opacity: 1;
    }
}

.carousel__container {
    transform: translate3d(0, 0, 0);
    transition: transform 0.3s;

    &::after {
        content: "";
        clear: both;
        display: table;
    }
}

.carousel__item {
    float: left;
}

.carousel__next,
.carousel__prev {
    width: 40px;
    height: 40px;
    position: absolute;
    background: $color-lightyellow;
    background-size: 20px 20px;
    border-radius: 50%;
    top: 50%; right: 0px;
    margin-top: -20px;   
    opacity: 0;
    transition: opacity 0.3s, display 0.3s;
}

.carousel__prev {
    right: auto;
    left: 0px;
}

.carousel__next--hidden,
.carousel__prev--hidden {
    opacity: 0;
    display: none;
}

