.cursor {
    width: var(--width);
    height: var(--height);
    top: 0; left: 0;
    position: fixed;
    display: none;

    opacity: var(--opacity);
    transform: translate(calc(var(--x) - var(--width) / 2), calc(var(--y) - var(--height) / 2));

    transition-duration: 125ms;
    transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
    transition-property: width, height, transform;
    transition: 150ms width cubic-bezier(0.39, 0.575, 0.565, 1),
                150ms height cubic-bezier(0.39, 0.575, 0.565, 1),
                300ms transform cubic-bezier(0.39, 0.575, 0.565, 1);

    z-index: 1000;
    pointer-events: none;
    will-change: transform;

    &::after {
        content: '';
        position: absolute;
        top: 0; bottom: 0;
        left: 0; right: 0;
        z-index: 1100;

        background: var(--fill);
        border-radius: var(--radius);
        border: var(--stroke) solid var(--stroke-color);

        opacity: var(--scale);
        transform: scale(var(--scale));
        transition: 150ms opacity cubic-bezier(0.39, 0.575, 0.565, 1),
                    150ms background cubic-bezier(0.39, 0.575, 0.565, 1),
                    150ms transform cubic-bezier(0.39, 0.575, 0.565, 1),
                    150ms border-radius cubic-bezier(0.39, 0.575, 0.565, 1);
    }
}

@media (pointer: fine) {
    .cursor {
        display: block;
    }
}

html:not(html:hover) .cursor::after {
    opacity: 0;
    transform: scale(0);
}