.topbar {
    width: 100%;
    padding: 20px 40px;
    top: 0; left: 0;
    position: fixed;
    z-index: 1100;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover .topbar__name > span:nth-child(1) {
        transform: translateY(0%);
        // opacity: 1;
    }

    .topbar__name {
        height: 20px;
        position: relative;
        overflow: hidden;

        // opacity: 0;

        text-transform: uppercase;
        color: $color-lightyellow;

        transition: opacity 0.3s 0.2s;

        span {
            display: block;
            white-space: nowrap;

            transition: transform 0.3s;

            .letter {
                display: inline-block;
            }
        }
        
        & > span:nth-child(1) {
            transform: translateY(-100%);
        }

        & > span:nth-child(2) {
            -webkit-text-stroke: 1px $color-lightyellow;
            -webkit-text-fill-color: transparent;
        }

        &:hover {
            span:nth-child(1) {
                transform: translateY(-100%);
            }
            span:nth-child(2) {
                transform: translateY(-100%);
            }
        }
    }

    // Toggle Button
    .topbar__toggle {
        width: 55px;
        height: 55px;
        z-index: 1100;
        border-radius: 50%;

        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        &:hover {
            cursor: none;
            
            span:nth-child(1)::before {
                width: 25%;
            }

            span:nth-child(2)::before {
                width: 50%;
                transition: width 0.3s 0.1s;
            }

            span:nth-child(3)::before {
                width: 75%;
                transition: width 0.3s 0.2s;
            }
        }

        span {
            width: 60%;
            height: 2px;
            z-index: 5;

            display: block;
            content: "";

            background: $color-lightyellow;
            position: absolute;

            transition: background 0.3s;

            &::before {
                width: 0px;
                height: 100%;
                z-index: 6;

                content: "";
                position: absolute;
                left: 0px;

                background: $color-darksalmon;
                transition: width 0.3s;
            }
        }

        span:nth-child(1) {
            transform: translateY(-10px);
        }
        span:nth-child(3) {
            transform: translateY(10px);
        }
    }
}